Exercise_05/05.1/sampl*.csv filter=lfs diff=lfs merge=lfs -text
Exercise_08/08.1/sampling_m=0.0_s=1.0.csv filter=lfs diff=lfs merge=lfs -text
Exercise_08/08.1/sampling_m=1.0_s=0.5.csv filter=lfs diff=lfs merge=lfs -text
